.cool-slider {
    position: relative;
    width: 100%;
    height: 60px;
}
  
.tick-marks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}
  
.tick-mark {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    transition: height 0.3s ease;
    height: 20px;
    align-self: flex-end;
    border-radius: 7px;
}
  
.tick-mark.adjacent.growing {
    height: 32px;
}

.tick-mark.adjacent2.growing {
    height: 26px;
}

.tick-mark.equal.growing {
    height: 40px;
}

.tick-mark.equal {
    visibility: hidden;
}
  
.handle {
    position: absolute;
    bottom: 0;
    width: 7px;
    height: 32px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    transform: translateX(-50%);
    transition: height 0.3s ease;
    cursor: pointer;
}
  
.handle.dragging {
    height: 40px;
    background-color: #ffffff;
}
  
.time-display {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
}

/* dropdown styles */
  
.dropdown {
    position: relative;
    color: white;
    cursor: default;
    width: 100%;
}

.arrow-wrapper {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .arrow {
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-right: 5px;
    flex-shrink: 0;
}

.dropdown .arrow.open {
    border-color: transparent transparent white;
    border-width: 0 5px 5px;
}

.dropdown .selected-value {
    flex-grow: 1;
}

.dropdown .selected-value input {
    line-height: normal;
    font-size: 16px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 5px 5px 5px 10px;
    transition: all 200ms ease;
    width: 100%;
    color: white;
    font-weight: 500;
}

.dropdown .options {
    display: none;
    background-color: rgba(80, 80, 80, 1); 
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    margin-top: 5px;
    max-height: 197px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    padding: 5px 0;
    scrollbar-width: thin;
    scrollbar-color: rgb(50, 50, 50) transparent;
}

.dropdown .options.open {
    display: block;
    width: calc(100% + 20px);
    transform: translateX(-10px);
}

.dropdown .option {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: block;
    padding: 6px 10px;
    transition: all 0.3s ease;
    font-weight: normal;
    font-size: 15px;
}

.dropdown .option.selected,
.dropdown .option:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.dropdown .control {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
}

.dropdown input.placeholder {
  color: #999;
}

.dropdown input::placeholder {
  color: #999;
  opacity: 1;
}

.dropdown .options::-webkit-scrollbar {
    width: 8px;
}

.dropdown .options::-webkit-scrollbar-track {
    background: none;
}

.dropdown .options::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.info-icon {
  margin-left: 8px;
  background-image: url('../assets/icon-info.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  position: relative;
}

.info-button:hover .info-icon {
  opacity: 1;
}

.see-more {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.see-more:hover {
    color: rgba(255, 255, 255, 1);
}

.see-more .arrow-wrapper {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-more .arrow {
    border-color: rgba(255, 255, 255, 0.7) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-top: 2px;
}

.see-more:hover .arrow {
    border-color: rgba(255, 255, 255, 1) transparent transparent;
}

.see-more .arrow.open {
    border-color: transparent transparent rgba(255, 255, 255, 0.7);
    border-width: 0 5px 5px;
}

.see-more:hover .arrow.open {
    border-color: transparent transparent rgba(255, 255, 255, 1);
}