body.default-cursor {
    cursor: default !important;
}
  
body.pointer-cursor {
    cursor: pointer !important;
}
 
.map-container {
  position: relative; /* Ensures the controls position correctly */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map-controls {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), /* Outer shadow */
                inset 0 0 0 1px rgba(255, 255, 255, 0.1); /* Inner white stroke */
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.map-controls label {
  font-size: 18px;
  font-weight: bold;
}

.map-controls-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.map-controls select,
.map-controls input[type="range"] {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
}

.map-controls select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

.map-controls input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    padding: 0;
}

.map-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.map-controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.direction-buttons {
    display: flex;
    gap: 10px;
}

/* Direction Selector Styles */
.direction-selector {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.direction-button {
  flex: 1;
  padding: 8px 12px;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
  outline: none; /* Remove default outline */
}

.direction-button:focus {
  /* outline: none; */
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.direction-button.active {
  color: white;
}

.direction-selector::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 50%;
  bottom: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 1px;
  transition: all 0.3s ease;
}

.direction-selector.going-to::before {
  left: 50%;
  right: 2px;
}

.see-more {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-more:hover {
    color: rgba(255, 255, 255, 1);
}

.caret {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.see-more:hover .caret {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.caret.up {
    transform: rotate(180deg);
}

.month-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.month-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.7);
}

.month-button.selected {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.month-button:focus {
  outline: rgba(255, 255, 255, 0.2) solid 1px;
}

.month-button.selected:focus {
  outline: rgba(255, 255, 255, 0.5) solid 1px;
}

.logarithmic-slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logarithmic-slider {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;
  padding: 0 calc(var(--handle-width) / 2); /* Update padding */
}

.logarithmic-slider.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-handle {
  position: absolute;
  top: 50%;
  width: var(--handle-width);
  height: 36px;
  background-color: rgba(80, 80, 80, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
              inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  left: calc(var(--handle-width) / 2);
  right: calc(var(--handle-width) / 2);
}

.handle-value {
  color: white;
  font-size: 16px;
  font-weight: bold;
  /** Prevent text from being selected */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-lock-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.slider-lock-button.locked {
  background-image: url('../assets/lock-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 18px;
}

.auto-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

:root {
  --handle-width: 60px;
}

.tooltip {
  position: absolute;
  max-width: 310px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  pointer-events: none;
  z-index: 9999;
  font-size: 14px;
  width: fit-content;
}

.tooltip-header {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.ridership-tooltip-content {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

.ridership-tooltip-content div {
  margin-top: 3px;
}

.subway-line-symbol {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  margin-left: 0.5em;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* subway-line-symbol that's a first child of ridership-tooltip-content */
.tooltip .subway-line-symbol:first-child {
  margin-left: 0;
}

.view-toggle {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(80, 80, 80, 0.8);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  z-index: 1;
  transition: width 0.3s ease; /* Shorter, more natural transition */
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
  color: white;
  font-size: 12px;
  white-space: nowrap;
}

.view-toggle:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.view-toggle .view-2d,
.view-toggle .view-3d {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  margin-left: 8px; /* Add some left margin to center the icon */
}

.view-toggle .view-2d {
  background-image: url('../assets/icon-2d.svg');
  width: 24px;
}

.view-toggle .view-3d {
  background-image: url('../assets/icon-3d.svg');
  width: 26px;
}

.view-toggle.expanded {
  width: 212px; /* Set a fixed expanded width */
}

.expanded-message {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Match the transition time with the width */
  white-space: nowrap;
}

.view-toggle.expanded .expanded-message {
  opacity: 1;
}

.tooltip-beak {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px;
}

.beak-left {
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.beak-right {
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.info-tooltip-content p {
  font-size: 12px;
  margin: 4px;
  line-height: 1.2;
}

.tooltip-left {
  left: attr(style[left]);
}

.tooltip-right {
  right: attr(style[right]);
}

.color-legend {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), 
              inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  pointer-events: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-box {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.interval-label {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}

.legend-title {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 2px 0;
  text-align: left;
}

.info-icon-container {
  position: absolute;
  top: 10px;
  right: 253px;
  z-index: 10;
}

.info-button {
  width: 40px;
  height: 40px;
  background-color: rgba(80, 80, 80, 0.8);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.info-button:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.map-info-icon {
  margin-left: 0;
  width: 24px;
  height: 24px;
  opacity: 1;
}

.about-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2000;
  overflow-y: auto;
  padding: 40px 0 80px 0;
}

.about-content {
  color: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  padding: 20px;
  margin-bottom: 40px;
}

.about-content h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-content a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.about-content a:hover {
  color: white;
  text-decoration: underline;
}


.about-content p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.credits {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.7;
}

.credits p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.credits h4 {
  margin-bottom: 12px;
}

.close-about-view {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.faq {
  margin-top: 30px;
}

.faq h4 {
  margin: 0 0 15px 0;
  font-size: 18px;
}

.faq h5 {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.faq p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
}

