.stories-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.stories-view.stack-view .stories-view-container {
  opacity: 0;
  pointer-events: none;
}

.stories-view-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(150, 150, 150) transparent;
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: all;
}

.stories-view-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.story-stack {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 350px;
  height: 75vh;
  z-index: 1000;
}

.stories-view:not(.stack-view) .story-stack {
  display: none;
}

.stories-content {
  min-height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 390px;
  pointer-events: all;
}

.stories-box {
  position: relative;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-bottom: 50vh;
  /* scroll-snap-align: center; */
  /* scroll-snap-stop: always; */
}

.stories-box:first-child {
  margin-top: 50vh;
}

.stories-box:last-child {
  margin-bottom: 50vh;
}

.stories-box h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
  color: #333;
}

.stories-box p {
  margin-bottom: 15px;
  line-height: 1.4;
  color: #333;
  text-align: justify;
}

.floating-info-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(128, 128, 128, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  z-index: 1001;
  pointer-events: none;
  /* avoid overlapping with the story */
  max-width: calc(100vw - 940px);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-info-bar p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}

.floating-info-bar .highlight-station {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.floating-info-bar .animating {
  white-space: nowrap;
  color: #ff6b6b;
  /* color: rgb(246, 65, 65); */
  font-weight: bold;
}

.stories-view-container::-webkit-scrollbar {
  width: 8px;
}

.stories-view-container::-webkit-scrollbar-track {
  background: none;
}

.stories-view-container::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
}

.story-progress {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  pointer-events: all;
}

.story-line-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.story-line {
  width: 30px;
  height: 4px;
  background-color: #555;
  border-radius: 7px;
  cursor: pointer;
}

.story-line.active {
  background-color: white;
}

.story-line:not(.active):hover {
  background-color: #888;
}

.part-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.part-line {
  width: 20px;
  height: 4px;
  background-color: #555;
  border-radius: 7px;
  cursor: pointer;
}

.part-line.active {
  background-color: white;
}

.part-line:not(.active):hover {
  background-color: #888;
}

.opening-phrase {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}

.stories-box.preview {
  position: fixed;
  left: 50px;
  transform: translateY(-50%);
  width: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
  opacity: 0.8;
}

.attributed-photo {
  position: relative;
  width: 100%;
}

.attributed-photo img {
  width: 100%;
  display: block;
}

.photo-attribution {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}

.story-content {
  position: relative;
}

.story-end-marker {
  display: inline-block;
  width: 0.625em;
  height: 0.625em;
  background-color: black;
  margin-left: 0.5em;
  vertical-align: middle;
  position: absolute;
  right: 0;
  bottom: 8px;
}

.station-highlight {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  position: relative;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.station-highlight:hover {
  color: #000000;
  text-decoration-color: #000000;
}

.story-card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  overflow: hidden;
}

.story-card {
  --vertical-offset: 60px;
  --horizontal-offset: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.story-card:nth-child(1) { 
  top: calc(var(--vertical-offset) * 4); 
  left: calc(var(--horizontal-offset) * 4);
}
.story-card:nth-child(2) { 
  top: calc(var(--vertical-offset) * 3); 
  left: calc(var(--horizontal-offset) * 3);
}
.story-card:nth-child(3) { 
  top: calc(var(--vertical-offset) * 2); 
  left: calc(var(--horizontal-offset) * 2);
}
.story-card:nth-child(4) { 
  top: calc(var(--vertical-offset) * 1); 
  left: calc(var(--horizontal-offset) * 1);
}
.story-card:nth-child(5) { 
  top: 0; 
  left: 0;
}

.story-card:hover {
  transform: translateY(-20px);
  z-index: 10;
}

.story-card h2 {
  margin: 0;
  font-style: italic;
  font-size: 24px;
  color: #333;
}

.story-card .story-preview {
  font-size: 16px;
  color: #333;
  overflow: hidden;
}

.scroll-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}
