html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.password-protection {
  background-color: white;
  position: relative;
}

.metrocard-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  background-image: url('./assets/metrocard.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -150%) rotate(-9deg);
  opacity: 0.8;
  z-index: -1;
}

.password-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.password-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none; /*0.5px solid #ccc;*/
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #e0e0e0;
}
